.datagrid-inline-edit-form {
	& .visually-hidden {
		height: 0;
		width: 0;
		overflow: hidden;
		outline: 0;
		border: 0;
		position: absolute;
		padding: 0;
	}
	& .edit-button-bar {
		display: flex;
		flex-direction: row;
		gap: 6px;
		align-items: center;
	}
	& .stadium-inline-edit-datagrid .form-control {
		width: var(--datagrid-inline-edit-text-field-size);
	}
	& .stadium-inline-edit-datagrid select.form-control {
		width: var(--datagrid-inline-edit-dropdown-field-size);
	}
	& .stadium-inline-edit-datagrid input[type="date"].form-control {
		width: var(--datagrid-inline-edit-date-field-size);
	}
	& .stadium-inline-edit-datagrid input[type="number"].form-control {
		width: var(--datagrid-inline-edit-number-field-size);
	}
	& .inline-edit-hide {
		display: none;
	}
	& .stadium-form-save {
		font-size: var(--row-inline-edit-button-font-size);
		background-color: var(--row-inline-edit-button-background-color);
		border: 1px solid var(--row-inline-edit-button-border-color);
		padding: var(--row-inline-edit-button-topbottom-padding) var(--row-inline-edit-button-rightleft-padding);
		color: var(--row-inline-edit-button-font-color);
	}
	& .opacity {
		opacity: var(--row-inline-edit-disabled-rows-opacity);
	}
	& .edited {
		animation: fadeOut var(--row-inline-edit-edited-row-fadeout-speed);
	}
}
@keyframes fadeOut {
	0% {
		background-color: var(--row-inline-edit-edited-row-fadeout-color);
	}
	100% {
		background-color: transparent;
	}
}